@use "./variables.scss" as variables;

//Reset box sizing of all elements
*, *:before, *:after {
    box-sizing: border-box;
}

//Set default html style
html {
    scroll-behavior: smooth;
}

//Set default body style
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: variables.$body-background;
    color: variables.$body-color; 
    font-family: variables.$body-font-family;
    font-weight: variables.$body-font-weight;
    font-size: variables.$body-font-size;
    line-height: variables.$body-line-height;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    //text-rendering: optimizeSpeed;
}

//Reset margins on lists
ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem; //variables.$margin-bottom;
}

//Reset margins on paragraphs
p {
    margin-top: 0;
    margin-bottom: 1rem; //variables.$margin-bottom;
}

//Make images and videos responsive by default
img, video {
    max-width: 100%;
    height: auto;
    display: block;
}

//Remove border from iframe
iframe {
    border: 0;
}

//Reset table border
table {
    border-collapse: collapse;
    border-spacing: 0;
}
//td, th {
//    padding: 0;
//}

