<head>
    <link rel="stylesheet" href="./siimple.min.css" />
    <title>siimple {{version}}</title>
</head>
<body class="has-bg-coolgray-100">
    <div class="siimple-content is-small">
        <div class="siimple-title is-2">siimple {{version}}</div>
        <div class="siimple-table is-striped">
            <div class="siimple-table-header">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell">File</div>
                    <div class="siimple-table-cell">Size</div>
                </div>
            </div>
            <div class="siimple-table-body">
                {{#each files}}
                <div class="siimple-table-row">
                    <div class="siimple-table-cell">
                        <a href="./{{this.file}}" class="siimple-link">{{this.file}}</a>
                    </div>
                    <div class="siimple-table-cell">{{this.size}}</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</body>
    
