@use "siimple-lib" as siimple;

//Appbar variables
$appbar-padding: 24px !default;
$appbar-width: 48px !default;
$appbar-item-width: 32px !default;
$appbar-item-height: 32px !default;
$appbar-item-padding: 8px !default;

//Appbar style
.siimple__appbar {
    display: block;
    position: fixed;
    width: $appbar-width; //calc(260px - 30px);
    height: calc(100% - 2 * #{$appbar-padding});
    padding: $appbar-padding;
    transition: all 0.3s;
    top: 0px !important;
    left: 0px;
    background-color: siimple.color("dark");
    color: siimple.color("white");
    //Appbar wrapper
    &-wrapper {
        display: block;
        //min-height: 100%;
        padding-left: calc(#{$appbar-width} + 2 * #{$appbar-padding});
        transition: all 0.3s;
        position: relative;
    }
    &-item,
    &-brand,
    &-avatar {
        display: block;
        width: $appbar-item-width;
        height: $appbar-item-height;
        //padding: 8px;
        margin-bottom: 5px;
        cursor: pointer;
        //text-overflow: clip;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: 8px 8px;
        padding: $appbar-item-padding;
        transition: background-color 0.3s;
        &:hover {
            background-color: rgba(siimple.color("white"), 0.2);
        }
    }
    //Appbar item
    &-item {
        font-size: $appbar-item-width;
        font-weight: normal !important;
        line-height: $appbar-item-height;
        color: rgba(siimple.color("white"), 0.6);
        border-radius: 3px;
        &--active {
            color: siimple.color("white") !important;
            //font-weight: 600;
            background-color: rgba(siimple.color("white"), 0.2) !important;
        }
    }
    &-brand {
        border-radius: 3px;
        //background-image: url("./images/logo.png");
    }
    &-avatar {
        //background-image: url("./images/user.svg");
        border-radius: 100%;
        position: absolute;
        bottom: 10px;
    }
    //Appbar divider
    &-divider {
        display: block;
        height: 2px;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: siimple.color("white");
        opacity: 0.3;
    }
}

//Terrible hack: appbar + toolbar
.siimple__appbar-wrapper .siimple__toolbar {
    left: calc(#{$appbar-width} + 2 * #{$appbar-padding}) !important;
}

