@use "../variables.scss" as variables;
@use "../mixins.scss" as mixins;

//Mixin to define a css variable from a list of variables
@mixin variables-from-list ($name, $list) {
    @each $key,$value in $list {
        @include mixins.define-variable("#{$name}#{$key}", $value);
    }
}

//Define global css variables
:root {
    //Default colors
    @include variables-from-list("", variables.$colors);
    //Light and dark colors
    //@include variables-from-list("", lists.$lights);
    //@include variables-from-list("", lists.$darks);
    //Breakpoints
    //@include variables-from-list("breakpoint-", variables.$breakpoints);
    //@include variables-from-list("content-", variables.$content-sizes);
    //Body values
    @include mixins.define-variable("body-color", variables.$body-color);
    @include mixins.define-variable("body-bg", variables.$body-background);
    @include mixins.define-variable("body-lh", variables.$body-line-height);
    @include mixins.define-variable("body-fs", variables.$body-font-size);
    @include mixins.define-variable("body-fw", variables.$body-font-weight);
    //Font family
    @include mixins.define-variable("font-sans", variables.$font-family-sans);
    @include mixins.define-variable("font-serif", variables.$font-family-serif);
    @include mixins.define-variable("font-mono", variables.$font-family-mono);
}

//Default html style
html {
    background-color: variables.$body-background;
    color: variables.$body-color; 
    font-family: variables.$body-font-family;
    font-weight: variables.$body-font-weight;
    font-size: variables.$body-font-size;
    line-height: variables.$body-line-height;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

