@use "siimple/lib" as siimple;

//Placeholder component
.siimple__placeholder {
    display: block;
    color: siimple.get-color-lighter("dark");
    //border: 2px dashed siimple.get-color("light");
    border-width: 0px;
    padding: 15px;
    flex-basis: 100%;
    opacity: 1.0;
    border-radius: siimple.$border-radius-base;
    margin-bottom: siimple.$margin-bottom;
    transition: all 0.3s;
    //Filled placeholder
    &--fill {
        background-color: siimple.get-color("light");
    }
    //Hoverable or active
    &--hover:hover,
    &--active {
        cursor: pointer;
        background-color: rgba(siimple.get-color("primary"), 0.1);
        border-color: siimple.get-color("primary") !important;
        color: siimple.get-color("primary") !important;
    }
    //Active only styles
    //&--active {
    //    background-color: rgba(siimple.get-color("primary"), 0.1);
    //}
    //Dashed border
    &--border-dashed {
        border: 2px dashed siimple.get-color("light");
    }
    //Solid border
    &--border-solid {
        border: 2px solid siimple.get-color("light");
    }
    //Group of placeholders
    &-group {
        margin-left: -5px;
        margin-right: -5px;
    }
    &-group & {
        margin-left: 5px;
        margin-right: 5px;
    }
}

