@use "./variables.scss" as variables;
@use "./functions.scss" as functions;
@use "./utils.scss" as utils;
@use "sass:string";
@use "sass:list";

//Set text selection
//Mixin by @icetee (PR #5) and edited by @dyzajash (PR #11)
@mixin user-select ($select: "none") {
    -webkit-user-select: string.unquote($select);
    //-khtml-user-select: string.unquote($select);
    -moz-user-select: string.unquote($select);
    -ms-user-select: string.unquote($select);
    user-select: string.unquote($select);
}

//Alias for disabling user selection
@mixin disable-select () {
    @include user-select("none");
}

//Clear floated content
@mixin clearfix () {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

//Truncate the text
//$overflow: clip, ellipsis, or a string
@mixin truncate ($overflow: "ellipsis") {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: $overflow;
}

//Striped background
@mixin striped-bg ($first-bg: transparent, $second-bg: transparent) {
    background: repeating-linear-gradient(
        45deg,
        $first-bg,
        $first-bg  7px,
        $second-bg 7px,
        $second-bg 12px
    );
}

//Shadow mixin
@mixin shadow() {
    $shadow-color: functions.get-color-darker("dark", 2%);
    //box-shadow: 0 0 1rem 0.5rem rgba($shadow-color, 0.05);
    box-shadow: 0 0.5em 1em -0.125em rgba($shadow-color,0.15), 0 0 0 1px rgba($shadow-color,0.02);
}

//Fluid content size
@mixin content-fluid () {
    width: 100%;
    //width: calc(100% - #{2 * variables.$content-gap});
    padding-left: variables.$content-gap;
    padding-right: variables.$content-gap;
}

//Sizing mixin
@mixin content-size ($size: 0px, $gap: variables.$content-gap) {
    //Check for string size
    @if utils.is-string($size) == true {
        $size: functions.get-content-size($size);
    }
    $padding-size: ($size - 2 * $gap) / 2; //Padding size
    //Apply the provided size only in screen widts > $size
    @media screen and (min-width: $size) {
        //width: $size - 2 * variables.$content-gap;
        padding-left: calc(50% - #{$padding-size});
        padding-right: calc(50% - #{$padding-size});
    }
}

//Define breakpoint
@mixin breakpoint ($name, $mode: "only") {
    $min: functions.get-breakpoint-min($name); //Get breakpoint min value
    $max: functions.get-breakpoint-max($name); //Get breakpoint max value
    //Check for min and max values
    @if $min != null and $max != null {
        @media screen and (min-width: #{$min}) and (max-width: #{$max}) {
            @content;
        }
    }
    //Check for only min value provided --> use min-width
    @else if $max == null {
        @media screen and (min-width: #{$min}) { @content; }
    }
    //Check for only max value provided --> use max-width
    @else if $min == null {
        @media screen and (max-width: #{$max}) { @content; }
    }
}

//Define a global css variable
@mixin define-variable ($name, $value) {
    --#{$name}: #{$value};
}

//Define a property
@mixin define-property ($property, $value, $is-important: false) {
    //Check for important property --> add !important flag
    @if $is-important == true {
        #{utils.unquote($property)}: utils.unquote($value) !important;
    }
    //If is not important --> add the property without the !important flag
    @if $is-important == false {
        #{utils.unquote($property)}: utils.unquote($value);
    }
}

//Define variant rule
@mixin define-variant ($prefix, $variants...) {
    //Check for default style
    @if list.index($variants, "base") {
        @content("#{$prefix}", "");
    }
    //Check for hover 
    @if list.index($variants, "hover") {
        @content("hover\\:#{$prefix}", "\:hover");
    }
    //Check for responsive
    @if list.index($variants, "responsive") {
        @each $name in utils.keys(variables.$breakpoints) {
            @include breakpoint($name, "only") {
                @content("#{$name}\\:#{$prefix}", "");
            }
        }
    }
}

//Utility mixin
@mixin utility ($prefix, $map) {
    //$prefix: utils.get($map, "prefix");
    $name: utils.get($map, "name");
    $properties: utils.get($map, "properties");
    $variants: utils.get($map, "variants");
    $is-important: utils.get($map, "important", false) == true;
    //Build for each variant provided
    @include define-variant($prefix, $variants...) using ($p, $s) {
        @each $key,$value in utils.get($map, "values") {
            $class-name: if($key == "default", $name, "#{$name}-#{$key}");
            //.#{$p}#{$name}-#{$key}#{$s} { 
            .#{$p}#{utils.unquote($class-name)}#{$s} {
                //Check if we have provided a list of values
                @if utils.is-list($value) {
                    @for $i from 1 through utils.length($value) {
                        $current-value: utils.get($value, $i, null);
                        $current-property: utils.get($properties, $i, null);
                        @if $current-value != null and $current-value != null {
                            @include define-property($current-property, $current-value, $is-important); 
                        }
                    }
                }
                @else {
                    //NOTE: we will assign the same value to all properties provided
                    @each $property in $properties {
                        @include define-property($property, $value, $is-important); 
                    }
                }
            }
        }
    }
}


