@use "../variables.scss" as variables;
@use "../functions.scss" as functions;

$column-padding: 10px !default;
//$column-sizes: siimple.$columns;

//Grid column class
.#{variables.$prefix}column {
    flex: 1; //Allow flex grow
    padding: $column-padding;
    min-height: 0;
    //Grid default column sizes
    @each $name, $width in variables.$columns {
        &.is-#{$name} {
            //width: #{$grid-width};
            width: calc(#{$width} - 2 * #{$column-padding});
            flex: none; //Disable flex grow
        }
    }
}
//Grid columns for each breakpoint
@each $breakpoint, $screen in variables.$breakpoints {
    @media (max-width: $screen) {
        @each $name, $width in variables.$columns {
            .#{variables.$prefix}column.#{$breakpoint}\:is-#{$name} {
                //width: #{$grid-width};
                width: calc(#{$width} - 2 * #{$column-padding});
                flex: none; //Disable flex grow
            }
        }
        //Hide grid column
        .#{variables.$prefix}column.#{$breakpoint}\:is-hide {
            display: none !important;
        }
    }
}

