@use "../variables.scss" as variables;
@use "../functions.scss" as functions;
@use "../mixins.scss" as mixins;
@use "../utils.scss" as utils;

$column-padding: 10px !default;
//$column-sizes: siimple.$columns;

//Grid column class
.#{variables.$prefix}column {
    flex: 1; //Allow flex grow
    padding: $column-padding;
    min-height: 0;
    //Grid default column sizes
    @each $name, $width in variables.$columns {
        &.is-#{$name} {
            width: #{$width};
            flex: none; //Disable flex grow
        }
    }
}
//Grid columns for each breakpoint
@each $breakpoint in utils.keys(variables.$breakpoints) {
    @include mixins.breakpoint($breakpoint) {
        @each $name, $width in variables.$columns {
            .#{variables.$prefix}column.#{$breakpoint}\:is-#{$name} {
                width: #{$width};
                flex: none; //Disable flex grow
            }
        }
        //Hide grid column
        .#{variables.$prefix}column.#{$breakpoint}\:is-hidden {
            display: none !important;
        }
    }
}

