@use "../variables.scss" as variables;
@use "../functions.scss" as functions;

//$field-label-font-size: 15px !default;
$field-label-font-weight: variables.$font-weight-bold !default;
$field-label-color: variables.$body-color !default;
//$field-label-line-height: 22px !default;

$field-helper-font-size: 13px !default;
$field-helper-font-weight: variables.$font-weight-normal !default;
$field-helper-line-height: 19px !default;
$field-helper-color: functions.get-color-lighter("dark") !default;

//Form field class
.#{variables.$prefix}field {
    display: block;
    vertical-align: top;
    margin-bottom: variables.$margin-bottom;
    margin-top: 0px;
    //Field label
    &-label {
        display: block;
        vertical-align: top;
        font-weight: $field-label-font-weight;
        //font-size: $field-label-text-size;
        //line-height: $field-label-line-height;
        color: $field-label-color;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    &-helper {
        display: block;
        vertical-align: top;
        font-weight: $field-helper-font-weight;
        font-size: $field-helper-font-size;
        line-height: $field-helper-line-height;
        color: $field-helper-color;
        margin-top: 5px;
        margin-bottom: variables.$margin-bottom;
    }
}

