@use "../variables.scss" as variables;
@use "../functions.scss" as functions;

$radio-width: 18px !default;
$radio-height: 18px !default;
$radio-margin: 6px !default;
$radio-border: 4px !default;
$radio-circle: 4px !default;

//Radio class
.#{variables.$prefix}radio {
    display: inline-block;
    //Disable default appearance of the checkbox
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: $radio-width;
    height: $radio-height;
    position: relative;
    vertical-align: top;
    margin: $radio-margin;
    cursor: pointer;
    //Radio outer circle
    &:before {
        display: block;
        width: calc(#{$radio-width} - 2 * #{$radio-border});
        height: calc(#{$radio-height} - 2 * #{$radio-border});
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 100px;
        border-width: $radio-border;
        border-style: solid;
        border-color: functions.get-color("light");
        //transition: border-color 0.3s ease;
        cursor: pointer;
    }
    //Radio inner circle
    &:after {
        position: absolute;
        display: block;
        content: "";
        width: $radio-circle;
        height: $radio-circle;
        background-color: transparent;
        border-radius: 100px;
        top: calc(50% - #{$radio-circle} / 2);
        left: calc(50% - #{$radio-circle} / 2);
        //transition: all 0.3s ease;
    }
    &:hover:after {
        background-color: functions.get-color("light");
    }
    //Checked -> change inner background
    &:checked:after,
    &.is-active:after {
        background-color: functions.get-color("primary");
    }
    //Checked -> change outer circle
    &:checked:before,
    &.is-active:before {
        border-color: functions.get-color("primary");
    }
    //Radio colors
    //@each $color in variables.utils-keys(variables.$status-colors) {
    //    &--#{$color}:checked:after,
    //    &--#{$color}#{&}--active:after {
    //        background-color: functions.get-color($color);
    //    }
    //    &--#{$color}:checked:before,
    //    &--#{$color}#{&}--active:before {
    //        border-color: functions.get-color($color);
    //    }
    //}
}

