@use "../variables.scss" as variables;
@use "../functions.scss" as functions;
@use "../utils.scss" as utils;

//Table cell variables
$table-cell-padding: 15px !default;
$table-cell-padding-small: 8px !default;
$table-cell-padding-large: 25px !default;
$table-cell-sizes: variables.$columns;
$table-colors: (
    "primary": functions.get-color-lighter("primary", 35%), 
    "secondary": functions.get-color-lighter("secondary", 35%), 
    "success": functions.get-color-lighter("success", 35%), 
    "warning": functions.get-color-lighter("warning", 30%), 
    "error": functions.get-color-lighter("error", 30%)
) !default;
$table-cell-border-width: 2px !default;
$table-cell-border-color: functions.get-color("light") !default;

//Table class
.#{variables.$prefix}table {
    display: table;
    width: 100%;
    //font-size: variables.$text-size;
    //color: variables.$text-color;
    border-collapse: separate;
    border-spacing: 0;
    border-width: 0px;
    margin-bottom: variables.$margin-bottom;
    background-color: transparent;
    box-sizing: border-box;
    //Table row
    &-row {
        display: table-row;
        //transition: all 0.3s;
        box-sizing: border-box;
        //border-bottom: 2px solid $siimple-default-white;
        &:hover {
            //background-color: functions.get-color("light");
        }
        &:last-child {
            //border-bottom: 0px;
        }
    }
    //Table cell
    &-cell {
        display: table-cell;
        //position: relative;
        line-height: variables.$line-height-base;
        padding: $table-cell-padding;
        //white-space: nowrap;
        //overflow: hidden;
        //transition: background-color 0.3s;
        //border-top: 1px solid siimple-default-color("light", "dark");
        box-sizing: border-box;
        vertical-align: top;
        background-color: functions.get-color("white");
        //Sortable cell
        &--sortable {
            padding-right: 20px !important;
            cursor: pointer;
            position: relative;
            //Sortable triangles common styles
            &::before,
            &::after {
                display: block;
                content: "";
                position: absolute;
                right: 5px;
                width: 0px;
                height: 0px;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                transition: all 0.3s;
            }
            //Sortable triangle up
            &::before {
                top: 15px;
                border-bottom: 8px solid functions.get-color("light");
            }
            //Sortable triangle down
            &::after {
                bottom: 15px;
                border-top: 8px solid functions.get-color("light");
            }
        }
        //Asc order
        &--asc::before {
            border-bottom-color: functions.get-color("primary");
        }
        //Desc order
        &--desc::after {
            border-top-color: functions.get-color("primary");
        }
    }
    //Table cell sizes
    @each $cell-name, $cell-width in $table-cell-sizes {
        &-cell--#{$cell-name} {
            width: #{$cell-width};
        }
    }
    //Small table --> reduce table cell padding
    &--small &-cell {
        padding: $table-cell-padding-small;
        &::before {
            top: 8px
        }
        &::after {
            bottom: 8px;
        }
    }
    //Large table --> increase table cell padding
    &--large &-cell {
        padding: $table-cell-padding-large;
    }
    //Table with border
    &--border &-cell {
        border: $table-cell-border-width solid $table-cell-border-color;
    }
    &--border &-cell:not(:last-child) {
        border-right: 0px !important;
    }
    //Table header
    &-header {
        display: table-header-group;
        box-sizing: border-box;
        //border-bottom: 3px solid $siimple-default-white !important;
        //font-weight: bold;
    }
    //Bordered table with rouded corners
    //&--border &-header &-row:first-child &-cell:first-child {
    &-header &-row:first-child &-cell:first-child {
        border-top-left-radius: variables.$border-radius-base;
    }
    //&--border &-header &-row:first-child &-cell:last-child {
    &-header &-row:first-child &-cell:last-child {
        border-top-right-radius: variables.$border-radius-base;
        //border-right-width: 0px !important;
    }
    //&--border &-header &-row:first-child &-cell {
    //    border-top-width: 2px;
    //}
    &-header &-cell {
        //border-bottom-right-radius: 0px !important;
        //border-bottom-left-radius: 0px !important;
        vertical-align: bottom;
        //border-bottom: 2px solid variables.utils-darken(functions.get-color("light"), 5%);
        font-weight: 600;
    }
    //Table body
    &-body {
        display: table-row-group;
        vertical-align: middle;
    }
    //&-body &-cell {
    //    border-top: 1px solid variables.utils-darken(functions.get-color("light"), 5%);
    //}
    //Not last row of the table body
    //&-body &-row:not(:last-child) &-cell {
    //    border-bottom: 1px solid variables.utils-darken(functions.get-color("light"), 5%);
    //}
    //Rounded table borders
    //&--border &-body &-row:last-child &-cell:first-child {
    &-body &-row:last-child &-cell:first-child {
        border-bottom-left-radius: variables.$border-radius-base;
    }
    //&--border &-body &-row:last-child &-cell:last-child {
    &-body &-row:last-child &-cell:last-child {
        border-bottom-right-radius: variables.$border-radius-base;
    }
    //Bordered table
    &--border &-body &-row:not(:last-child) &-cell {
        border-bottom: 0px !important;
    }
    //&--border &-body &-row &-cell:first-child {
    //    border-left-width: 2px;
    //}
    //&--border &-body &-row &-cell:last-child {
    //    border-right-width: 0px !important;
    //}
    //Table with rows divider
    &--divider &-body &-cell {
        border-top: $table-cell-border-width solid $table-cell-border-color;
    }
    //Striped table
    &--striped &-body &-row:nth-child(odd) &-cell {
        background-color: functions.get-color-lighter("light", 3%);
    }
    //Hovered table
    &--hover &-body &-row:hover &-cell {
        background-color: functions.get-color("light");
        transition: background-color 0.3s;
    }
    //Fixed columns width
    &--fixed {
        table-layout: fixed;
    }
    //Responsive table container
    &-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
    //Colored table rows
    @each $color in variables.$colors-modifiers {
        @if $color != "dark" and $color != "light" {
            &-row--#{$color},
            &-row--#{$color} &-cell {
                background-color: utils.get($table-colors, $color) !important;
            }
        }
    }
}

