@use "../variables.scss" as variables;
@use "../functions.scss" as functions;
@use "../mixins.scss" as mixins;

$tabs-background: functions.get-color("light") !default;
$tabs-padding: 10px !default;

$tabs-item-height: 40px !default;
$tabs-item-width: 100px !default;
$tabs-item-padding: 8px !default;
$tabs-item-margin-left: 10px !default;
$tabs-item-margin-right: 10px !default;

.#{variables.$prefix}tabs {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    background-color: $tabs-background;
    padding-top: $tabs-padding;
    padding-right: $tabs-padding;
    //position: relative;
    //width: 100%;
    //height: $tabs-height;
    //font-size: variables.$text-size;
    margin-bottom: variables.$margin-bottom;
    border-radius: variables.$border-radius-base;
    //Disable user selection
    @include mixins.user-select(none);
    //Tab item
    &-item {
        display: block;
        flex-grow: 1;
        min-width: $tabs-item-width;
        //min-height: calc(#{$tabs-item-height} - 2 * #{$tabs-item-padding});
        padding: $tabs-item-padding;
        //line-height: calc(#{$tabs-item-height} - 2 * #{$tabs-padding});
        font-weight: variables.$font-weight-bold;
        text-align: center;
        //font-size: $tabs-text-size;
        color: functions.get-color-lighter("dark");
        //padding-left: $tabs-padding;
        //padding-right: $tabs-padding;
        //margin-bottom: -1px;
        //border: 2px solid transparent;
        border-radius: variables.$border-radius-base;
        cursor: pointer;
        //transition: color 0.3s;
        text-decoration: none !important;
        margin-left: $tabs-item-margin-left;
        margin-bottom: $tabs-item-margin-right;
        //Hover tab
        &:not(.is-active):hover {
            color: functions.get-color("primary");
            transition: color 0.3s;
        }
        //Active tab
        &.is-active {
            background-color: functions.get-color("white") !important;
            color: functions.get-color("dark") !important;
        }
    }
    //Tab style for mobile devices
    @media screen and (max-width: variables.$mobile) {
        flex-direction: column;
    }
}
