@use "../variables.scss" as variables;
@use "../functions.scss" as functions;

//Tag variables
$tag-font-size: 12px !default;
$tag-font-weight: variables.$font-weight-bold !default;
$tag-line-height: 20px !default;
$tag-border-radius: variables.$border-radius-small !default;

//Tag class
.#{variables.$prefix}tag {
    display: inline-block;
    font-size: $tag-font-size;
    font-weight: $tag-font-weight;
    text-decoration: none;
    line-height: $tag-line-height;
    border-radius: $tag-border-radius;
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: text-top;
    //margin-right: 1px;
    //margin-bottom: 8px;
    //Rounded tag 
    &.is-rounded {
        border-radius: 15px;        
    }
    //Tag colors
    @each $color in variables.$colors-modifiers {
        &.is-#{$color} {
            background-color: functions.get-color($color);
            color: functions.get-color-invert($color);
        }
    }
    //Grouped tag
    &-group {
        //font-size: 0px; //To remove spacing between tags
        vertical-align: text-top;
        display: inline-flex; //Important!!!
    }
    &-group > &:not(:first-child) {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    &-group > &:not(:last-child) {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

