@use "../variables.scss" as variables;
@use "../functions.scss" as functions;

//Textarea variables
$textarea-padding: 15px !default;
$textarea-font-size: 15px !default;
$textarea-font-weight: variables.$font-weight-normal !default;
$textarea-line-height: 22px !default;
$textarea-color: functions.get-color("dark") !default;
$textarea-background: functions.get-color("light") !default;

//Textarea class
.#{variables.$prefix}textarea {
    display: inline-block;
    line-height: $textarea-line-height;
    font: inherit; //Important
    font-size: $textarea-font-size;
    color: $textarea-color;
    padding: $textarea-padding;
    border: 0px;
    border-radius: variables.$border-radius-base;
    outline: 0px;
    background-color: $textarea-background; 
    vertical-align: top;
    box-sizing: border-box;
    resize: vertical;
    //Fluid textarea
    &.is-full {
        width: 100%;
    }
    //Dark textarea style
    &.is-dark {
        background-color: functions.get-color("dark");
        color: functions.get-color("white");
    }
}

