@use "../variables.scss" as variables;
@use "../functions.scss" as functions;

//Paragraph class
.#{variables.$prefix}paragraph, 
.#{variables.$prefix}p {
    display: block;
    margin-top: 0px;
    margin-bottom: variables.$margin-bottom;
}

//Lead variables
$lead-font-size: variables.$font-size-large !default;
$lead-font-weight: variables.$font-weight-bold !default;
$lead-color: functions.get-color-lighter("dark") !default;
//$lead-line-height: siimple.$line-height !default;

//Paragraph lead class
.#{variables.$prefix}lead {
    display: block;
    font-size: $lead-font-size;
    //line-height: $lead-line-height;
    font-weight: $lead-font-weight;
    color: $lead-color;
    margin-top: 0px;
    margin-bottom: variables.$margin-bottom;
}

//Link variables
$link-color: functions.get-color("primary");
$link-hover-color: functions.get-color-darker("primary");

//Link class
.#{variables.$prefix}link {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        color: $link-hover-color;
        transition: color 0.3s;
    }
}

//Small text variables
$small-font-size: variables.$font-size-small !default;
$small-color: functions.get-color-lighter("dark") !default;

//Small class
.#{variables.$prefix}small {
    font-size: $small-font-size;
    color: $small-color;
}

