@use "../variables.scss" as variables;

$title-margin-top: 30px !default;
$title-margin-bottom: 0.5em !default;
$title-line-height: variables.$body-line-height !default;
$title-font-weight: variables.$font-weight-bold !default;

//Title class
@each $name,$value in variables.$font-sizes {
   .#{variables.$prefix}title#{$name} {
       display: block;
       font-size: $value;
       font-weight: $title-font-weight;
       line-height: $title-line-height;
       padding: 0px;
       margin-bottom: $title-margin-bottom;
       &:not(:first-child) {
           margin-top: $title-margin-top; 
       }
   }
}

