@use "siimple-lib" as lib;

//checkbox loader
@mixin load-form-checkbox ($options: (), $prefix: lib.$prefix, $name: "checkbox") {
    .#{$prefix}#{$name} {
        @include checkbox($options);
    }
}

//Checkbox class
//.#{lib.$prefix}checkbox {
@mixin checkbox ($options: ()) {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: lib.get($options, "width", 18px);
    height: lib.get($options, "height", 18px);
    margin: lib.get($options, "margin", 6px);
    vertical-align: top;
    cursor: pointer;
    border-radius: lib.get($options, "radius", 4px);
    background: lib.get-color("light");
    //Label icon
    //Check icon for checked status
    //Minus icon for indeterminate status
    &:after {
        content: "";
        height: 6px;
        position: absolute;
        background: transparent;
    }
    //Checked/Indeterminate -> change background
    &:checked,
    &.is-active,
    &:indeterminate {
        background-color: lib.get-color("primary");
        transition: background-color 0.3s;
    }
    //Indeterminate-> change tick
    &:indeterminate:after {
        border-bottom: 2px solid lib.get-color("white");
        width: 8px;
        top: 4px;
        left: 5px;
    }
    //Checked --> display tick
    &:checked:after,
    &is-active:after {
        //opacity: 1;
        width: 10px;
        top: 5px;
        left: 4px;
        transform: rotate(-45deg);
        border-left: 2px solid lib.get-color("white");
        border-bottom: 2px solid lib.get-color("white");
    }
    //Checkbox colors
    //@each $color in lib.utils-keys(lib.$status-colors) {
    //    &--#{$color}:checked,
    //    &--#{$color}#{&}--active,
    //    &--#{$color}:indeterminate {
    //        background-color: lib.get-color($color);
    //    }
    //}
}

