@use "siimple-lib" as lib;

//input loader
@mixin load-form-input ($options: (), $prefix: lib.$prefix, $name: "input") {
    .#{$prefix}#{$name} {
        @include input($options);
    }
}

//Input style
//.#{lib.$prefix}input {
@mixin input ($options: ()) {
    display: inline-block;
    height: lib.get($options, "height", 40px);
    line-height: lib.get($options, "height", 40px);
    font-size: lib.get($options, "font.size", 15px);
    font-weight: lib.get($options, "font.weight", lib.$font-weight-normal);
    color: lib.get($options, "color", lib.get-color("dark"));
    padding-left: lib.get($options, "padding.left", 1rem);
    padding-right: lib.get($options, "padding.right", 1rem);
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px;
    border-radius: lib.$border-radius-base;
    outline: 0px;
    background-color: lib.get($options, "background", lib.get-color("light"));
    vertical-align: top;
    box-sizing: border-box;
    //Fluid input
    &.is-full {
        width: 100%;
    }
    //Dark input
    &.is-dark {
        background-color: lib.get-color("dark");
        color: lib.get-color("white");
    }
}

