@use "../variables.scss" as variables;
@use "../functions.scss" as functions;

$dropdown-margin: 2px !default;
$dropdown-padding: 12px !default;
$dropdown-min-width: 150px !default;
$dropdown-zindex: 999 !default;

$dropdown-item-padding: 12px !default; 

$dropdown-separator-margin: 8px !default;
$dropdown-separator-height: 2px !default;

//Dropdown experimental component
.#{variables.$prefix}dropdown {
    display: none;
    position: absolute;
    //top: calc(100% + #{$dropdown-offset});
    top: 100%;
    //left: 0px;
    min-width: $dropdown-min-width;
    color: functions.get-color("dark");
    text-align: left;
    //background-color: functions.get-color("light");
    background-color: functions.get-color("white");
    border-radius: variables.$border-radius-base;
    padding: $dropdown-padding;
    margin-top: $dropdown-margin;
    z-index: $dropdown-zindex;
    //Dropdown arrow
    //&:before {
    //    position: absolute;
    //    width: 0px;
    //    height: 0px;
    //    content: "";
    //    display: block;
    //    border: 7px solid transparent;
    //    border-bottom-color: functions.get-color("light");
    //    top: -14px;
    //    right: 15px;
    //}
    ////Dropdown toggle arrow
    //&-toggle::after {
    //    display: inline-block;
    //    content: "";
    //    height: 0px;
    //    width: 0px;
    //    margin-left: 4px;
    //    border-top: 6px solid functions.get-color("white");
    //    border-left: 4px solid transparent;
    //    border-right: 4px solid transparent;
    //    vertical-align: middle;
    //}
    ////Toggle light color
    //&-toggle--light::after {
    //    border-top-color: functions.get-color("white");
    //}
    ////Toggle dark color
    //&-toggle--dark::after {
    //    border-top-color: functions.get-color("dark");
    //}
    //Visible dropdown 
    &.is-visible {
        display: block !important;
    }
    //Dropdown item 
    &-item {
        display: block;
        //line-height: variables.$line-height-base;
        //font-size: variables.$font-size-base;
        padding: $dropdown-item-padding;
        white-space: nowrap;
        cursor: pointer;
        border-radius: variables.$border-radius-base;
        //transition: all 0.3s;
        //Dropdown item hover
        &:hover {
            background-color: rgba(functions.get-color("light"), 0.5);
            //color: functions.get-color("white");
        }
    }
    //Dropdown rule separator
    &-separator {
        display: block;
        height: $dropdown-separator-height;
        background-color: functions.get-color-darker("light");
        margin-top: $dropdown-separator-margin;
        margin-bottom: $dropdown-separator-margin;
    }
    //Light dropdown
    &.is-light {
        background-color: functions.get-color("light") !important;
    }
    &.is-light &-item:hover {
        background-color: functions.get-color("white");
    }
    &.is-light &-separator {
        background-color: rgba(functions.get-color("dark"), 0.3);
    }
    //Dark dropdown 
    &.is-dark {
        background-color: functions.get-color("dark");
    }
    //&.is-dark::before {
    //    border-bottom-color: functions.get-color("dark");
    //}
    //Dark dropdown
    &.is-dark &-item {
        color: rgba(functions.get-color("white"), 0.8);
    }
    &.is-dark &-item:hover {
        background-color: rgba(functions.get-color("white"), 0.3);
    }
    //Dark separator
    &.is-dark &-separator {
        background-color: rgba(functions.get-color("white"), 0.2);
    }
    //Drowdown positions
    &.is-center {
        left: 50%;
        transform: translateX(-50%);
    }
    &.is-right { right: 0; }
    &.is-left { left: 0; }
}

//Enable dropdown
.with-dropdown {
    position: relative;
}
.with-dropdown:hover .#{variables.$prefix}dropdown {
    display: block;
}

