@use "../variables.scss" as variables;
@use "../functions.scss" as functions;

$media-start-margin: 15px !default;
$media-end-margin: 15px !default;

//Media class
.#{variables.$prefix}media {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    //overflow: hidden;
    //Media start and end elements
    &-start,
    &-end {
        height: 100%;
        min-height: 0;
        flex-basis: auto; //Default size
        flex-grow: 0; //Disable grow
        flex-shrink: 0;
    }
    &-start {
        margin-right: $media-start-margin;
        order: 1; //Always at the start
    }
    &-end {
        margin-left: $media-end-margin;
        order: 3; //Always at the end
    }
    //Media content
    &-content {
        height: 100%;
        min-height: 0;
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
        order: 2; //Always centered
    }
}

