@use "../variables.scss" as variables;
@use "../functions.scss" as functions;
@use "../mixins.scss" as mixins;

$panel-header-background: functions.get-color("light") !default;
$panel-header-padding: 16px !default;

$panel-body-padding: 16px !default;
$panel-body-background: functions.get-color("white") !default;

$panel-footer-padding: 16px !default;
$panel-footer-background: functions.get-color("white") !default;

//Panel style
.#{variables.$prefix}panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    //height: 100%;
    border-radius: variables.$border-radius-base;
    //Panel header
    &-header {
        display: flex;
        //background-color: siimple.utils-lighten(siimple.color("dark"), 40%);
        background-color: $panel-header-background;
        padding: $panel-header-padding;
        min-height: 0;
        //height: $header-height;
        //Disable selection
        @include mixins.user-select("none");
    }
    //Panel header tab
    &-header-tab {
        flex-shrink: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        //background-color: siimple.color("white");
        line-height: 24px;
        font-size: 14px;
        font-weight: bold;
        border-radius: variables.$border-radius-base;
        cursor: pointer;
        opacity: 0.6;
        //@include siimple.user-select("none");
        //Not first tab
        &:not(:first-child) {
            margin-left: 5px;
        }
        //Tab hover
        &:hover {
            opacity: 1.0;
        }
        //Tab active
        &.is-active {
            background-color: functions.get-color("primary");
            color: functions.get-color("white");
            opacity: 1.0 !important;
        }
    }
    //Panel header title
    &-header-title {
        flex-shrink: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 24px;
        font-size: 16px;
        font-weight: bold;
        //@include siimple.user-select("none");
    }
    //Panel body
    &-body {
        flex-grow: 1;
        padding: $panel-body-padding;
        background-color: $panel-body-background;
        //Terrible hack for preventing bugs
        //https://github.com/philipwalton/flexbugs/issues/42#issuecomment-107128787
        //height: 0px;
        min-height: 0;
    }
    //Panel footer
    &-footer {
        display: flex;
        padding: $panel-footer-padding;
        background-color: $panel-footer-background;
        min-height: 0;
    }
    //First child --> add border radius top
    &-header:first-child,
    &-body:first-child,
    &-footer:first-child {
        border-top-left-radius:  variables.$border-radius-base;
        border-top-right-radius: variables.$border-radius-base;
    }
    //Last child or his collapsed --> add border radius bottom
    &.is-collapsed &-header,
    &-header:last-child,
    &-body:last-child,
    &-footer:last-child {
        border-bottom-left-radius:  variables.$border-radius-base;
        border-bottom-right-radius: variables.$border-radius-base;
    }
    //Collapsed panel --> hide body and footer
    &.is-collapsed &-body,
    &.is-collapsed &-footer {
        display: none;
        //visibility: hidden;
    }
}

