@use "../variables.scss" as variables;
@use "../functions.scss" as functions;

$tooltip-padding: 8px !default;
$tooltip-margin: 8px !default;
$tooltip-zindex: 999 !default;
$tooltip-arrow-width: 10px !default;
$tooltip-arrow-height: 10px !default;
$tooltip-arrow-zindex: $tooltip-zindex - 1 !default;

//Export tooltip component
.#{variables.$prefix}tooltip {
    display: none;
    position: absolute;
    border-radius: variables.$border-radius-base;
    padding: $tooltip-padding;
    z-index: $tooltip-zindex;
    background-color: functions.get-color("white");
    color: functions.get-color("dark");
    //Tooltip arrow
    &::after {
        content: " ";
        display: block;
        position: absolute;
        z-index: $tooltip-arrow-zindex;
        width: $tooltip-arrow-width;
        height: $tooltip-arrow-height;
        background-color: functions.get-color("white");
    }
    //Tooltip top position
    &.is-top {
        top: 0;
        left: 50%;
        transform: translate(-50%, calc(-100% - #{$tooltip-margin}));
    }
    &.is-top::after {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
    }
    //Tooltip bottom position
    &.is-bottom {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, calc(100% + #{$tooltip-margin}));
    }
    &.is-bottom::after {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    //Tooltip right position
    &.is-right {
        top: 50%;
        right: 0;
        transform: translate(calc(100% + #{$tooltip-margin}), -50%);
    }
    &.is-right::after {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    //Tooltip left position
    &.is-left {
        top: 50%;
        left: 0;
        transform: translate(calc(-100% - #{$tooltip-margin}), -50%);
    }
    &.is-left::after {
        top: 50%;
        right: 0;
        transform: translate(50%, -50%) rotate(45deg);
    }
    //Light tooltip
    &.is-light {
        background-color: functions.get-color("light");
        color: functions.get-color("dark");
    }
    &.is-light::after {
        background-color: functions.get-color("light");
    }
    //Dark tooltip
    &.is-dark {
        background-color: functions.get-color("dark");
        color: functions.get-color("white");
    }
    &.is-dark::after {
        background-color: functions.get-color("dark");
    }
    //Tooltip visible
    &.is-visible {
        display: block !important;
    }
}

//Wrapper to enable tooltip inside another element
.with-tooltip {
    position: relative;
}
.with-tooltip:hover .#{variables.$prefix}tooltip {
    display: block;
}

